.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    background: var(--white);
    border-radius: 40px;
    padding: 60px 80px;
}

@media (max-width: 767px) {
    .box {
        grid-template-columns: 1fr;
        row-gap: 24px;
        padding: 32px;
    }
}