.container {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 80px;
}
.container > img {
    align-self: center;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}

.image-shadow {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    grid-column: 1/2;
    grid-row: 1/2;
    background: var(--white);
    border-radius: 33px;
}