.container {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 80px;
}
.container > img {
    align-self: center;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}