/*Buttons*/

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in;
}

.btn-primary {
    color: var(--white);
    background-color: var(--yellow-100);
}

.btn-primary:hover {
    background-color: var(--yellow-200);
}

.btn-secondary {
    color: var(--white);
    background-color: var(--blue-400);
}

.btn-secondary:hover {
    background-color: var(--blue-300);
}

.btn-ghost {
    color: var(--green-light);
    border: 2px solid rgba(var(--rgb-green-light), .12);
}

.btn-ghost:hover {
    color: var(--white);
    background-color: rgba(var(--rgb-green-light), 1);
}

.btn-big {
    padding: 16px 48px;
}

.btn-small {
    padding: 10px 20px;
}

.btn-xs {
    padding: 5px 10px;
}

@media (max-width: 767px) {
    .btn {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 500px) {
    .btn-big {
        padding: 16px 24px;
    }
}

/*Buttons-END*/
