.select {
    padding: 30px;
    border-radius: 40px;
    background-color: var(--blue-100);
    color: var(--blue-400);

    text-transform: uppercase;
    letter-spacing: 1px;

    width: 450px;
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--blue-400);

    padding: 24px 60px;
    width: 680px;
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;

    transition: all .3s ease;
}

.input:focus {
    border: 2px solid var(--green-100);
}

@media (max-width: 767px) {
    .select {
        width: 100%;
    }
    .input {
        width: 100%
    }
}