/*Layout*/
html {
  scroll-behavior: smooth;
}

body {
  color: var(--black);
}

.body-container {
  background-color: var(--white);
}

.body-container > main {
  min-height: calc(100vh - 81px);
}

.body-container,
.body-container > header,
.body-container > footer,
.body-container > main,
.main-layout {
  display: grid;
  grid-template-columns: minmax(24px, 1fr) minmax(720px, 1200px) minmax(
      24px,
      1fr
    );
  align-content: start;
}

.body-container > header {
  z-index: 2;
}

.body-container > main {
  z-index: 1;
}

.center-layout {
  grid-column: 2/3;
}

.full-width-layout {
  grid-column: 1/-1;
}

.bg-light-blue-custom {
  background-color: rgba(var(--rgb-blue-200), 0.1);
}

@media (max-width: 1024px) {
  .body-container,
  .body-container > header,
  .body-container > footer,
  .body-container > main,
  .main-layout {
    grid-template-columns: 24px 1fr 24px;
  }
}

/*Layout END*/
