@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFF;
    --rgb-white: 255, 255, 255;
    --black: #181E22;
    --rgb-black: 0, 0, 0;
    --gray-100: #C3C3C312;
    --gray-200: #707070;
    --blue-100: #D9EFF7;
    --blue-200: #9BBBFC;
    --rgb-blue-200: 155, 187, 252;
    --blue-300: #2D5BB8;
    --blue-400: #4741A6;
    --rgb-blue-400: 71, 65, 166;
    --yellow-100: #F9CE69;
    --yellow-200: #FFD800;
    --green-100: #3ACD70;
    --red: #EB001B;
}