.slide-wrap {
    display: grid;
    justify-content: center;
}

.slide {
    background: #fff;
    border-radius: 40px;
    padding: 60px 70px;
    text-align: center;

    display: grid;
    grid-template-rows: min-content 100px repeat(3, min-content);
}

.title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--blue-300);
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .slide {
        padding: 40px 24px;
    }
}